<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sucesso</title>
    <link rel="stylesheet" href="static/jogadores.css">
</head>
<body>
    <div class="success-message">
        <p>Jogador Registrado</p>
        <p>Nome: {{ nome }}</p>
        <p>CPF: {{ cpf }}</p>
        <p>Jogo de interesse: {{ jogo }}</p>
        <p>Posição / Função: {{ posicao }}</p>
        <p>Rank: {{ rank }}</p>
    </div>
</body>
</html>
